@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './variables.less';

// Variables
@body-background: #eff2f7;

// Menu
// --
@menu-item-active-bg: @gray-2;
@menu-item-active-border-width: 0;

.ant-menu {
  &-inline,
  &-vertical {
    border-right: none;
  }

  &-item {
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &-item-selected {
    border-radius: 2px;
    font-weight: bold;
  }
}

// Input
// --
.ant-input,
.ant-input-affix-wrapper {
  border: 1px solid transparent;
  transition: color 0.1s linear, border-color 0.1s linear, background-color 0.1s linear;
  box-shadow: none !important;
}

.ant-input,
.ant-input-affix-wrapper {
  background-color: var(--gray2);
  color: var(--gray10);
  &:hover {
    background-color: var(--gray3);
    border-color: transparent;
  }
  &:focus {
    border-color: var(--arcoblue6);
    background-color: var(--colorBgWhite);
  }
  &-focused {
    border-color: var(--arcoblue6) !important;
    background-color: var(--colorBgWhite) !important;
  }
  .ant-input {
    background-color: transparent;
    color: var(--gray10);
  }
}

.ant-form-item-has-error {
  .ant-input,
  .ant-input-affix-wrapper {
    border-color: transparent;
    background-color: var(--red1);
    &:hover {
      border-color: transparent;
      background-color: var(--red2);
    }
    &:focus {
      border-color: var(--red6);
      background-color: var(--colorBgWhite);
    }
    &-focused {
      border-color: var(--red6) !important;
      background-color: var(--colorBgWhite) !important;
    }
  }
}

.ant-input-group-addon {
  background-color: transparent !important;
}

// Drawer
// --
.ant-drawer {
  .ant-drawer-header {
    .ant-drawer-header {
      border-bottom: none;
    }
  }
}

// Upload
// --
.ant-upload {
  color: @dark-gray-1;
  overflow: hidden;

  &.ant-upload-drag.ant-upload-drag {
    border-color: transparent;
    background-color: @gray-2;
    background-clip: content-box;

    &:not(.ant-upload-disabled):hover {
      background-color: @arcoblue-1;

      .anticon-plus {
        color: @primary-color;
      }
    }

    .anticon-plus {
      display: block;
      padding: 20px 0 30px;
      font-size: 16px;
      color: @text-color;
    }
  }
}
