setuptools==41.0.0
tensorflow==1.15.2
cityhash
pylint==2.4.4
jinja2
grpcio-tools
etcd3
influxdb
peewee
apsw
configparser
prettytable
kubernetes
scipy
gmpy2
cityhash
scikit-learn
pycryptodomex
rsa
elasticsearch==7.11.0
elasticsearch6
guppy3
tensorflow-io==0.8.1
psutil
sqlalchemy==1.2.19
mysqlclient
leveldb
prison==0.1.3
matplotlib
flatten_dict
pyspark==3.0.2
