setuptools==41.0.0
tensorflow==1.12.0
cityhash
pylint==1.9.5
jinja2
grpcio-tools
etcd3
influxdb
peewee
apsw
configparser
prettytable
kubernetes
scipy
gmpy2
cityhash
scikit-learn
pycryptodomex
rsa==4.0
elasticsearch==7.11.0
elasticsearch6
guppy
tensorflow-io==0.3.0
psutil
sqlalchemy==1.2.19
mysqlclient
leveldb
prison==0.1.3
matplotlib
