Flask
Flask-Migrate
Flask-HTTPAuth
flask-restful
passlib
flask-jwt-extended
Flask-Testing
gunicorn
grpcio
# grpcio-tools==1.34.0 will not work on Mac
# see details in https://github.com/grpc/grpc/issues/24897
grpcio-tools==1.33.2
grpcio-testing==1.33.2
kubernetes==12.0.1
snakebite-py3
elasticsearch
flatten-dict
