Flask
Flask-Migrate
Flask-HTTPAuth
flask-restful
passlib
flask-jwt-extended>=4.0.0
Flask-Testing
gunicorn
# grpc-related stuff has be 1.32.0 to be compatible with tensorflow
grpcio==1.32.0
# grpcio-tools==1.34.0 will not work on Mac
# see details in https://github.com/grpc/grpc/issues/24897
grpcio-tools==1.32.0
grpcio-testing==1.32.0
kubernetes==12.0.1
snakebite-py3
elasticsearch
flatten-dict
pymysql
setuptools==41.0.0
tensorflow==2.4.0
pyopenssl
pylint==2.4.4
mpld3
python-slugify==4.0.1
