apiVersion: v2
name: fedlearner-stack
description: A Helm chart for fedlearner-stack
type: application
version: 0.1.0
appVersion: 1.16.0
dependencies:
- name: ingress-nginx
  repository: ""
  version: 2.1.0
- name: nfs-client-provisioner
  version: 1.2.8
  condition: nfs-client-provisioner.enabled
- name: nfs-server-provisioner
  version: 1.0.0
  condition: nfs-server-provisioner.enabled
- name: elastic-stack
  version: 2.0.0
  condition: elastic-stack.enabled
- name: mysql
  repository: ""
  version: 8.0.22
  condition: mysql.enabled
- name: etcd
  repository: ""
  version: 4.8.2
  condition: etcd.enabled
- name: sparkoperator
  repository: http://storage.googleapis.com/kubernetes-charts-incubator
  version: 0.8.4
  condition: sparkoperator.enabled
