

mysql:
  enabled: true
  global:
    storageClass: nfs
  root:
    password: fedlearner
  db:
    user: fedlearner
    password: fedlearner
    name: fedlearner

elastic-stack:
  enabled: true

  elasticsearch:
    enabled: false

  kibana:
    enabled: false

  logstash:
    enabled: false
    persistence:
      storageClass: nfs

  filebeat:
    enabled: true
    indexTemplateLoad:
      - "{{ .Release.Name }}-elasticsearch-client:9200"

ingress-nginx:
  controller:
    image:
      repository: fedlearner/nginx-ingress-controller
      tag: "0b3ebb2"

    config:
      proxy-body-size: 2g
      proxy-buffer-size: 2048k
      proxy-connect-timeout: "300"
      proxy-read-timeout: "1200"
      proxy-send-timeout: "600"

    service:
      type: NodePort
      nodePorts:
        http: 32080
        https: 32443
        tcp:
          8080: 32808

    admissionWebhooks:
      enabled: false

etcd:
  enabled: true
  auth:
    rbac:
      enabled: false
  persistence:
    storageClass: nfs

sparkoperator:
  enabled: false

  serviceAccounts:
    spark:
      create: true
      name: spark

  image:
    repository: registry.cn-beijing.aliyuncs.com/fedlearner/spark-operator
    pullPolicy: IfNotPresent
    tag: v1beta2-1.2.0-3.0.0_patch2

  sparkJobNamespace: default
  installCrds: true
  logLevel: 4

  enableWebhook: true
  webhookPort: 8080

  resources:
    limits:
      cpu: "1"
      memory: "1Gi"
    requests:
      cpu: "1"
      memory: "1Gi"

  leaderElection:
    enable: true
