kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: flapp-operator
subjects:
  - kind: ServiceAccount
    name: flapp-operator
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: flapp-operator
  apiGroup: rbac.authorization.k8s.io
---
