# Default values for fedlearner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

fedlearner-operator:
  image:
    repository: fedlearner/fedlearner-operator
    tag: "v1.5-rc1"
    pullPolicy: IfNotPresent

  ingress:
    enabled: true

  extraArgs: {}

fedlearner-apiserver:
  image:
    repository: fedlearner/fedlearner-apiserver
    tag: "v1.5-rc1"
    pullPolicy: IfNotPresent

fedlearner-web-console:
  image:
    repository: fedlearner/fedlearner-web-console
    tag: "v1.5-rc1"
    pullPolicy: IfNotPresent

  ingress:
    enabled: true

  extraVolumeMounts:
  - name: data
    mountPath: /data

  extraVolumes:
  - name: data
    persistentVolumeClaim:
      claimName: pvc-fedlearner-default
