# Default values for fedlearner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 3

image:
  repository: fedlearner_operator
  tag: latest
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: "4"
    memory: 4Gi
  requests:
    cpu: "4"
    memory: 4Gi

nodeSelector: {}

tolerations: []

affinity: {}
