libos.entrypoint = "{{ entrypoint }}"
libos.check_invalid_pointers = false

loader.preload = "file:{{ gramine.libos }}"
loader.log_level = "none"
loader.entrypoint = "file:{{ gramine.libos }}"

loader.pal_internal_mem_size = "200M"

loader.insecure__use_cmdline_argv = true
loader.insecure__use_host_env = true
loader.insecure_disable_aslr = true
sgx.allow_file_creation = true
sgx.static_address = 1

loader.env.LD_LIBRARY_PATH = "/opt/meituan/hadoop/lib/native:/opt/tiger/jdk/openjdk-1.8.0_265/jre/lib/amd64/server:/opt/meituan/hadoop/lib/native:/opt/meituan/hadoop/lib/native/nfs:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server:/usr/local/lib/x86_64-linux-gnu:/opt/tiger/yarn_deploy/hadoop_current/lib/native:/opt/tiger/jdk/openjdk-1.8.0_265/jre/lib/amd64/server:/opt/tiger/jdk/openjdk-1.8.0_265/jre/lib/amd64/jli/:/opt/tiger/jdk/openjdk-1.8.0_265/jre/lib/amd64:{{ python.stdlib }}/lib:/lib:{{ arch_libdir }}:/usr/local/lib:/usr/local/{{ arch_libdir }}:/usr/lib:/usr/{{ arch_libdir }}"
loader.env.SECRET_PROVISION_CONSTRUCTOR = "1"
loader.env.SECRET_PROVISION_SET_PF_KEY = "1"

sys.enable_sigterm_injection = true
sys.enable_extra_runtime_domain_names_conf = true
sgx.ioctl_structs.ifconf = [ {name = "ifc_len",size = 4, direction = "inout" }, {size = 4}, { ptr=[ {size= "ifc_len", direction = "in"} ] } ]
sgx.ioctl_structs.ifreq = [ {  name ="ifreq", size=40, direction ="inout"} ]
sgx.allowed_ioctls = [
  { request_code = 0x8912, struct = "ifconf"},
  { request_code = 0x8927, struct = "ifreq"},
]

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr", uri = "file:/usr" },
  { path = "{{ python.stdlib }}", uri = "file:{{ python.stdlib }}" },
  { path = "{{ python.distlib }}", uri = "file:{{ python.distlib }}" },
  { path = "/opt", uri = "file:/opt" },
  { path = "/gramine/leader", uri = "file:/gramine/leader"},
  { path = "/gramine/follower", uri = "file:/gramine/follower"},
  { path = "/etc", uri = "file:/etc" },
  { path = "/tmp", uri = "file:/tmp" },
  { path = "/bin", uri = "file:/bin" },
  { path = "/data", uri = "file:/data" },
  { path = "/proc/net", uri = "file:/proc/net" },
  { path = "/proc/stat", uri = "file:/proc/stat" },
  { path = "/proc/self/cmdline", uri = "file:/proc/self/cmdline" },
  { path = "/root/.keras/keras.json", uri = "file:/root/.keras/keras.json" }
]

# Note that Gramine also creates an internal
# thread for handling inter-process communication (IPC), and potentially another
# thread for asynchronous events. Therefore, the actual number of threads that
# the application can create is (sgx.thread_num - 2).

sgx.debug = false
sgx.remote_attestation = "dcap"
sgx.preheat_enclave = false
sgx.nonpie_binary = true
sgx.enable_stats = false
sgx.enclave_size = "8G"
sgx.thread_num = 256
sgx.rpc_thread_num = 0
sgx.protected_files_key = "ffeeddccbbaa99887766554433221100"

sgx.trusted_files = [
  "file:{{ entrypoint }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ arch_libdir }}/",
  "file:/usr/{{ arch_libdir }}/",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/etc/default/apport",
  "file:/etc/mime.types",
  "file:/gramine/leader/",
  "file:/gramine/follower/",
  "file:/usr/local/lib/cmake/",
  "file:/usr/local/lib/libabsl_bad_any_cast_impl.a",
  "file:/usr/local/lib/libabsl_bad_optional_access.a",
  "file:/usr/local/lib/libabsl_bad_variant_access.a",
  "file:/usr/local/lib/libabsl_base.a",
  "file:/usr/local/lib/libabsl_city.a",
  "file:/usr/local/lib/libabsl_civil_time.a",
  "file:/usr/local/lib/libabsl_cord.a",
  "file:/usr/local/lib/libabsl_debugging_internal.a",
  "file:/usr/local/lib/libabsl_demangle_internal.a",
  "file:/usr/local/lib/libabsl_examine_stack.a",
  "file:/usr/local/lib/libabsl_exponential_biased.a",
  "file:/usr/local/lib/libabsl_failure_signal_handler.a",
  "file:/usr/local/lib/libabsl_flags.a",
  "file:/usr/local/lib/libabsl_flags_commandlineflag.a",
  "file:/usr/local/lib/libabsl_flags_commandlineflag_internal.a",
  "file:/usr/local/lib/libabsl_flags_config.a",
  "file:/usr/local/lib/libabsl_flags_internal.a",
  "file:/usr/local/lib/libabsl_flags_marshalling.a",
  "file:/usr/local/lib/libabsl_flags_parse.a",
  "file:/usr/local/lib/libabsl_flags_private_handle_accessor.a",
  "file:/usr/local/lib/libabsl_flags_program_name.a",
  "file:/usr/local/lib/libabsl_flags_reflection.a",
  "file:/usr/local/lib/libabsl_flags_usage.a",
  "file:/usr/local/lib/libabsl_flags_usage_internal.a",
  "file:/usr/local/lib/libabsl_graphcycles_internal.a",
  "file:/usr/local/lib/libabsl_hash.a",
  "file:/usr/local/lib/libabsl_hashtablez_sampler.a",
  "file:/usr/local/lib/libabsl_int128.a",
  "file:/usr/local/lib/libabsl_leak_check.a",
  "file:/usr/local/lib/libabsl_leak_check_disable.a",
  "file:/usr/local/lib/libabsl_log_severity.a",
  "file:/usr/local/lib/libabsl_malloc_internal.a",
  "file:/usr/local/lib/libabsl_periodic_sampler.a",
  "file:/usr/local/lib/libabsl_random_distributions.a",
  "file:/usr/local/lib/libabsl_random_internal_distribution_test_util.a",
  "file:/usr/local/lib/libabsl_random_internal_platform.a",
  "file:/usr/local/lib/libabsl_random_internal_pool_urbg.a",
  "file:/usr/local/lib/libabsl_random_internal_randen.a",
  "file:/usr/local/lib/libabsl_random_internal_randen_hwaes.a",
  "file:/usr/local/lib/libabsl_random_internal_randen_hwaes_impl.a",
  "file:/usr/local/lib/libabsl_random_internal_randen_slow.a",
  "file:/usr/local/lib/libabsl_random_internal_seed_material.a",
  "file:/usr/local/lib/libabsl_random_seed_gen_exception.a",
  "file:/usr/local/lib/libabsl_random_seed_sequences.a",
  "file:/usr/local/lib/libabsl_raw_hash_set.a",
  "file:/usr/local/lib/libabsl_raw_logging_internal.a",
  "file:/usr/local/lib/libabsl_scoped_set_env.a",
  "file:/usr/local/lib/libabsl_spinlock_wait.a",
  "file:/usr/local/lib/libabsl_stacktrace.a",
  "file:/usr/local/lib/libabsl_status.a",
  "file:/usr/local/lib/libabsl_statusor.a",
  "file:/usr/local/lib/libabsl_str_format_internal.a",
  "file:/usr/local/lib/libabsl_strerror.a",
  "file:/usr/local/lib/libabsl_strings.a",
  "file:/usr/local/lib/libabsl_strings_internal.a",
  "file:/usr/local/lib/libabsl_symbolize.a",
  "file:/usr/local/lib/libabsl_synchronization.a",
  "file:/usr/local/lib/libabsl_throw_delegate.a",
  "file:/usr/local/lib/libabsl_time.a",
  "file:/usr/local/lib/libabsl_time_zone.a",
  "file:/usr/local/lib/libabsl_wyhash.a",
  "file:/usr/local/lib/libaddress_sorting.a",
  "file:/usr/local/lib/libcares.a",
  "file:/usr/local/lib/libcjson.a",
  "file:/usr/local/lib/libcjson_utils.a",
  "file:/usr/local/lib/libcrypto.a",
  "file:/usr/local/lib/libgpr.a",
  "file:/usr/local/lib/libgrpc++.a",
  "file:/usr/local/lib/libgrpc++_alts.a",
  "file:/usr/local/lib/libgrpc++_error_details.a",
  "file:/usr/local/lib/libgrpc++_reflection.a",
  "file:/usr/local/lib/libgrpc++_unsecure.a",
  "file:/usr/local/lib/libgrpc.a",
  "file:/usr/local/lib/libgrpc_plugin_support.a",
  "file:/usr/local/lib/libgrpc_unsecure.a",
  "file:/usr/local/lib/libgrpcpp_channelz.a",
  "file:/usr/local/lib/libmbedcrypto_gramine.a",
  "file:/usr/local/lib/libmbedtls_gramine.a",
  "file:/usr/local/lib/libmbedx509_gramine.a",
  "file:/usr/local/lib/libprotobuf-lite.a",
  "file:/usr/local/lib/libprotobuf.a",
  "file:/usr/local/lib/libprotoc.a",
  "file:/usr/local/lib/libre2.a",
  "file:/usr/local/lib/libssl.a",
  "file:/usr/local/lib/libupb.a",
  "file:/usr/local/lib/libz.a",
  "file:/usr/local/lib/libz.so",
  "file:/usr/local/lib/libz.so.1",
  "file:/usr/local/lib/libz.so.1.2.11",
  "file:/usr/local/lib/pkgconfig/",
  "file:/usr/local/lib/x86_64-linux-gnu/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/libtensorflow_framework.so.2",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/__init__.py",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/__init__.py",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/__internal__/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/__operators__/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/audio/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/autodiff/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/autograph/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/bitwise/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/compat/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/config/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/data/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/debugging/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/distribute/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/dtypes/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/errors/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/experimental/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/feature_column/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/graph_util/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/image/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/io/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/linalg/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/lite/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/lookup/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/math/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/mixed_precision/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/mlir/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/nest/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/nn/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/profiler/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/quantization/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/queue/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/ragged/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/random/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/raw_ops/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/saved_model/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/sets/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/signal/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/sparse/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/strings/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/summary/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/sysconfig/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/test/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/tpu/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/train/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/types/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/version/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/xla/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/compiler/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/core/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/include/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/keras/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/python/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/tools/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/lite/experimental/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/lite/toco/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/lite/__init__.py",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/xla_aot_runtime_src/",
  "file:/usr/local/lib/python3.6/dist-packages/pyspark/",
  "file:/usr/local/lib/python3.6/dist-packages/Cython/",
  "file:/usr/local/lib/python3.6/dist-packages/numpy/",
  "file:/usr/local/lib/python3.6/dist-packages/grpc/",
  "file:/usr/local/lib/python3.6/dist-packages/google/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow_estimator/",
  "file:/usr/local/lib/python3.6/dist-packages/sklearn/",
  "file:/usr/local/lib/python3.6/dist-packages/fedlearner/",
  "file:/usr/local/lib/python3.6/dist-packages/pandas/",
  "file:/usr/local/lib/python3.6/dist-packages/Cryptodome/",
  "file:/usr/local/lib/python3.6/dist-packages/PIL/",
  "file:/usr/local/lib/python3.6/dist-packages/Pillow.libs/",
  "file:/usr/local/lib/python3.6/dist-packages/_cffi_backend.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/_yaml/",
  "file:/usr/local/lib/python3.6/dist-packages/absl/",
  "file:/usr/local/lib/python3.6/dist-packages/aiocontextvars.py",
  "file:/usr/local/lib/python3.6/dist-packages/apsw/",
  "file:/usr/local/lib/python3.6/dist-packages/astroid/",
  "file:/usr/local/lib/python3.6/dist-packages/astunparse/",
  "file:/usr/local/lib/python3.6/dist-packages/backoff/",
  "file:/usr/local/lib/python3.6/dist-packages/backports/",
  "file:/usr/local/lib/python3.6/dist-packages/cachetools/",
  "file:/usr/local/lib/python3.6/dist-packages/cc/",
  "file:/usr/local/lib/python3.6/dist-packages/certifi/",
  "file:/usr/local/lib/python3.6/dist-packages/cffi/",
  "file:/usr/local/lib/python3.6/dist-packages/chardet/",
  "file:/usr/local/lib/python3.6/dist-packages/cityhash.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/cityhashcrc.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/configparser.py",
  "file:/usr/local/lib/python3.6/dist-packages/contextvars/",
  "file:/usr/local/lib/python3.6/dist-packages/coverage/",
  "file:/usr/local/lib/python3.6/dist-packages/cryptography/",
  "file:/usr/local/lib/python3.6/dist-packages/cycler.py",
  "file:/usr/local/lib/python3.6/dist-packages/cython.py",
  "file:/usr/local/lib/python3.6/dist-packages/dataclasses.py",
  "file:/usr/local/lib/python3.6/dist-packages/dateutil/",
  "file:/usr/local/lib/python3.6/dist-packages/decorator.py",
  "file:/usr/local/lib/python3.6/dist-packages/deprecated/",
  "file:/usr/local/lib/python3.6/dist-packages/docopt.py",
  "file:/usr/local/lib/python3.6/dist-packages/easy_install.py",
  "file:/usr/local/lib/python3.6/dist-packages/elasticsearch/",
  "file:/usr/local/lib/python3.6/dist-packages/elasticsearch6/",
  "file:/usr/local/lib/python3.6/dist-packages/elftools/",
  "file:/usr/local/lib/python3.6/dist-packages/etcd3/",
  "file:/usr/local/lib/python3.6/dist-packages/farmhash.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/flatbuffers/",
  "file:/usr/local/lib/python3.6/dist-packages/flatten_dict/",
  "file:/usr/local/lib/python3.6/dist-packages/fsspec/",
  "file:/usr/local/lib/python3.6/dist-packages/gast/",
  "file:/usr/local/lib/python3.6/dist-packages/gmpy2/",
  "file:/usr/local/lib/python3.6/dist-packages/gmpy2.libs/",
  "file:/usr/local/lib/python3.6/dist-packages/google_auth_oauthlib/",
  "file:/usr/local/lib/python3.6/dist-packages/googleapis_common_protos-1.56.3-py3.10-nspkg.pth",
  "file:/usr/local/lib/python3.6/dist-packages/graminelibos/",
  "file:/usr/local/lib/python3.6/dist-packages/grpc_tools/",
  "file:/usr/local/lib/python3.6/dist-packages/guppy/",
  "file:/usr/local/lib/python3.6/dist-packages/h5py/",
  "file:/usr/local/lib/python3.6/dist-packages/hdfs/",
  "file:/usr/local/lib/python3.6/dist-packages/immutables/",
  "file:/usr/local/lib/python3.6/dist-packages/importlib_metadata/",
  "file:/usr/local/lib/python3.6/dist-packages/influxdb/",
  "file:/usr/local/lib/python3.6/dist-packages/isort/",
  "file:/usr/local/lib/python3.6/dist-packages/joblib/",
  "file:/usr/local/lib/python3.6/dist-packages/keras_preprocessing/",
  "file:/usr/local/lib/python3.6/dist-packages/kiwisolver.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/kubernetes/",
  "file:/usr/local/lib/python3.6/dist-packages/lazy_object_proxy/",
  "file:/usr/local/lib/python3.6/dist-packages/markdown/",
  "file:/usr/local/lib/python3.6/dist-packages/matplotlib/",
  "file:/usr/local/lib/python3.6/dist-packages/matplotlib-3.3.4-py3.6-nspkg.pth",
  "file:/usr/local/lib/python3.6/dist-packages/mccabe.py",
  "file:/usr/local/lib/python3.6/dist-packages/mesonbuild/",
  "file:/usr/local/lib/python3.6/dist-packages/mpl_toolkits/",
  "file:/usr/local/lib/python3.6/dist-packages/msgpack/",
  "file:/usr/local/lib/python3.6/dist-packages/numpy/",
  "file:/usr/local/lib/python3.6/dist-packages/numpy.libs/",
  "file:/usr/local/lib/python3.6/dist-packages/oauthlib/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry/",
  "file:/usr/local/lib/python3.6/dist-packages/opt_einsum/",
  "file:/usr/local/lib/python3.6/dist-packages/pasta/",
  "file:/usr/local/lib/python3.6/dist-packages/peewee.py",
  "file:/usr/local/lib/python3.6/dist-packages/pip/",
  "file:/usr/local/lib/python3.6/dist-packages/pkg_resources/",
  "file:/usr/local/lib/python3.6/dist-packages/playhouse/",
  "file:/usr/local/lib/python3.6/dist-packages/prettytable/",
  "file:/usr/local/lib/python3.6/dist-packages/prison/",
  "file:/usr/local/lib/python3.6/dist-packages/protobuf-3.19.6-py3.6-nspkg.pth",
  "file:/usr/local/lib/python3.6/dist-packages/psutil/",
  "file:/usr/local/lib/python3.6/dist-packages/pwiz.py",
  "file:/usr/local/lib/python3.6/dist-packages/py4j/",
  "file:/usr/local/lib/python3.6/dist-packages/pyasn1/",
  "file:/usr/local/lib/python3.6/dist-packages/pyasn1_modules/",
  "file:/usr/local/lib/python3.6/dist-packages/pycparser/",
  "file:/usr/local/lib/python3.6/dist-packages/pylab.py",
  "file:/usr/local/lib/python3.6/dist-packages/pylint/",
  "file:/usr/local/lib/python3.6/dist-packages/pyparsing/",
  "file:/usr/local/lib/python3.6/dist-packages/pytz/",
  "file:/usr/local/lib/python3.6/dist-packages/pyximport/",
  "file:/usr/local/lib/python3.6/dist-packages/requests/",
  "file:/usr/local/lib/python3.6/dist-packages/requests_kerberos/",
  "file:/usr/local/lib/python3.6/dist-packages/requests_oauthlib/",
  "file:/usr/local/lib/python3.6/dist-packages/rsa/",
  "file:/usr/local/lib/python3.6/dist-packages/scikit_learn.libs/",
  "file:/usr/local/lib/python3.6/dist-packages/scipy/",
  "file:/usr/local/lib/python3.6/dist-packages/scipy.libs/",
  "file:/usr/local/lib/python3.6/dist-packages/setuptools/",
  "file:/usr/local/lib/python3.6/dist-packages/six.py",
  "file:/usr/local/lib/python3.6/dist-packages/spnego/",
  "file:/usr/local/lib/python3.6/dist-packages/src/",
  "file:/usr/local/lib/python3.6/dist-packages/tenacity/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard_data_server/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard_plugin_wit/",
  "file:/usr/local/lib/python3.6/dist-packages/termcolor.py",
  "file:/usr/local/lib/python3.6/dist-packages/test/",
  "file:/usr/local/lib/python3.6/dist-packages/tests/",
  "file:/usr/local/lib/python3.6/dist-packages/threadpoolctl.py",
  "file:/usr/local/lib/python3.6/dist-packages/toml/",
  "file:/usr/local/lib/python3.6/dist-packages/typed_ast/",
  "file:/usr/local/lib/python3.6/dist-packages/typing_extensions.py",
  "file:/usr/local/lib/python3.6/dist-packages/urllib3/",
  "file:/usr/local/lib/python3.6/dist-packages/wcwidth/",
  "file:/usr/local/lib/python3.6/dist-packages/websocket/",
  "file:/usr/local/lib/python3.6/dist-packages/werkzeug/",
  "file:/usr/local/lib/python3.6/dist-packages/wheel/",
  "file:/usr/local/lib/python3.6/dist-packages/yaml/",
  "file:/usr/local/lib/python3.6/dist-packages/zipp.py"
]

sgx.allowed_files = [
  "file:tensorflow_io.py",
  "file:/opt/tiger/",
  "file:/opt/meituan/",
  "file:/usr/lib/ssl/openssl.cnf",
  "file:/usr/lib/gcc",
  "file:/usr/local/lib/python3.6/dist-packages/MySQLdb/",
  "file:/usr/local/lib/python3.6/dist-packages/gssapi/",
  "file:/usr/local/lib/python3.6/dist-packages/krb5/",
  "file:/usr/local/lib/python3.6/dist-packages/leveldb.cpython-36m-x86_64-linux-gnu.so",
  "file:/usr/local/lib/python3.6/dist-packages/leveldb-0.201.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/mysqlclient-2.1.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/wrapt-1.12.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/sqlalchemy/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/__init__.py",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/lite/python/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/",
  "file:/usr/local/lib/python3.6/dist-packages/wrapt/",
  "file:/usr/local/lib/python3.6/dist-packages/Cython-0.29.36.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/Deprecated-1.2.14.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/Keras_Preprocessing-1.1.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/Markdown-3.3.7.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/Pillow-8.4.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/PyYAML-6.0.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/Werkzeug-2.0.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/absl_py-0.15.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/aiocontextvars-0.2.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/apsw-3.43.0.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/astroid-2.3.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/astunparse-1.6.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/backoff-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/cachetools-4.2.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/certifi-2024.2.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/cffi-1.15.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/chardet-4.0.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/cityhash-0.4.7.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/configparser-5.2.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/contextvars-2.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/coverage-6.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/cryptography-40.0.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/cycler-0.11.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/dataclasses-0.8.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/decorator-5.1.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/docopt-0.6.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/elasticsearch-7.11.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/elasticsearch6-6.8.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/etcd3-0.12.0-py3.6.egg-info/",
  "file:/usr/local/lib/python3.6/dist-packages/fedlearner-1.5.dev0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/flatbuffers-1.12.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/flatten_dict-0.4.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/fsspec-2022.1.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/gast-0.3.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/gmpy2-2.1.5.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/google_auth-2.22.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/google_auth_oauthlib-0.4.6.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/google_pasta-0.2.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/googleapis_common_protos-1.56.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/grpcio-1.38.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/grpcio_tools-1.48.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/gssapi-1.7.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/guppy3-3.1.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/h5py-2.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/hdfs-2.7.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/immutables-0.19.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/importlib_metadata-4.8.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/influxdb-5.3.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/isort-4.3.21.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/joblib-1.1.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/kiwisolver-1.3.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/krb5-0.3.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/kubernetes-29.0.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/lazy_object_proxy-1.4.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/matplotlib-3.3.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/mccabe-0.6.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/meson-0.61.5.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/msgpack-1.0.5.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/numpy-1.19.5.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/oauthlib-3.2.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_api-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_exporter_otlp-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_exporter_otlp_proto_grpc-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_exporter_otlp_proto_http-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_proto-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_sdk-1.10.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opentelemetry_semantic_conventions-0.29b0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/opt_einsum-3.3.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pandas-1.1.5.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/peewee-3.17.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pip-21.3.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/prettytable-2.5.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/prison-0.1.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/protobuf-3.19.6.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/psutil-5.9.8.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/py4j-0.10.9.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyasn1-0.5.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyasn1_modules-0.3.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pycparser-2.21.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pycryptodomex-3.20.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyelftools-0.31.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pylint-2.4.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyparsing-3.1.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyspark-3.0.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pyspnego-0.5.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/python_dateutil-2.9.0.post0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/pytz-2021.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/requests-2.25.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/requests_kerberos-0.14.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/requests_oauthlib-2.0.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/rsa-4.9.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/scikit_learn-0.24.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/scipy-1.5.4.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/setuptools-41.0.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/six-1.15.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tenacity-8.2.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard-2.10.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard_data_server-0.6.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorboard_plugin_wit-1.8.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow-2.4.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/tensorflow_estimator-2.4.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/termcolor-1.1.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/threadpoolctl-3.1.0.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/toml-0.10.2.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/typed_ast-1.4.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/typing_extensions-3.7.4.3.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/urllib3-1.26.18.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/wcwidth-0.2.13.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/websocket_client-1.3.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/wheel-0.37.1.dist-info/",
  "file:/usr/local/lib/python3.6/dist-packages/zipp-3.6.0.dist-info/",
  "file:{{ python.stdlib }}/",
  "file:{{ python.distlib }}/",
  "file:/etc/ethers",
  "file:/etc/hosts",
  "file:/etc/group",
  "file:/etc/passwd",
  "file:/etc/ld.so.conf",
  "file:/etc/gai.conf",
  "file:/etc/host.conf",
  "file:/etc/resolv.conf",
  "file:/etc/nsswitch.conf",
  "file:/etc/sgx_default_qcnl.conf",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/etc/tce_dynamic/identity.token",
  "file:/proc/stat",
  "file:/proc/net/",
  "file:/proc/self/cmdline",
  "file:/tmp/",
  "file:/root/.keras/keras.json",
  "file:dynamic_config.json",
  "file:/usr/bin/",
  "file:/lib/",
  "file:/bin/",
  "file:/data/",
]
