name: Build Kubernetes Operator

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        cd ./deploy/kubernetes_operator/
        go build ./cmd/operator/main.go
