name: CI

on:
  pull_request:
    paths-ignore:
    - 'web_console_v2/**'
  push:
    paths-ignore:
    - 'web_console_v2/**'

jobs:
  test:
    strategy:
      matrix:
        # As long as we need Python 3.6 here in the test, we can only use up to Ubuntu 20.
        # https://github.com/actions/setup-python/issues/544
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    name: CI tests
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libgmp-dev libmpc-dev libmpfr-dev
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run CI
        run: bash ./ci/ci_test.sh
